.input {
  border-radius: 5px 0px 0px 0px;
  padding: 7px 15px;
  color: var(--black-color);
  outline-color: var(--primary-color);
  border: none;
  background-color: white;
  box-shadow: 0px 4px 4px 0px #0000000d;
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}
