.filled svg {
  fill: var(--primary-color);
}

.star svg {
  margin-right: 5px;
}

.ediable {
  cursor: pointer;
}

.error svg {
  stroke: var(--red-color);
}

.errorMessage {
  color: var(--red-color);
  position: absolute;
  bottom: -20px;
  left: 0;
}

.wrapper {
  position: relative;
}
