{
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.css",
      "options": {
        "parser": "css",
        "bracketSpacing": true,
        "insertPragma": false,
        "semi": false,
        "arrowParens": "always",
        "quoteProps": "as-needed"
      }
    },
    {
      "files": "*.scss",
      "options": {
        "parser": "scss"
      }
    }
  ]
}
