.sortIcon {
  display: none;
}

.active .sortIcon {
  display: block;
  margin-right: 8px;
}

.Sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
}
.Sort span {
  display: grid;
  grid-template-columns: 20px 1fr;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.active {
  font-weight: bold;
  color: var(--primary-color);
}

.Sort span:not(.active) {
  grid-template-columns: 1fr;
}
